.head-line {
    padding: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 430px;
}

.menus {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}

.menus button {
    border: none;
    background: none;
    margin: 5px;
}

.menus button:hover{
    background-color: beige;
}

.news-img-size {
    max-width: 100%;
    max-height: 220px;
    min-height: 220px;
}

.news {
    padding: 0.4em;
    border-bottom: 2px solid black;
}

.img-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:500px){
    .news-img-size {
        min-height: 0;
    }
}

@media screen and (max-width:992px){
    .img-area {
        margin-bottom: 1em;
    }
}

@media screen and (max-width:48rem){
    .menus {
        display: none;
    }
    .head-line {
        border-bottom: 4px double black;
    }
}

@media screen and (min-width:48rem){
    .hide {
        display: none;
    }
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: burlywood;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
}
  
.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
}

.side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
}

#search-input {
    min-width: 5%;
    max-width: 30%;
}

.icon-button {
    margin: 1em;
}

.search-button {
    background-color: burlywood;
    border: 1px solid burlywood;
    color: rgb(255, 255, 255);
    height: 33px;
    border-radius: 3px;
}

.pagination {
    justify-content: center;
    margin-top: 1em;
}

.page-item {
    cursor: pointer;
}

h2 {
    cursor: pointer;
}

.page-link {
    color: #000; 
    background-color: #fff;
}
  
.page-item.active .page-link {
    z-index: 1;
    color: white;
    background-color: burlywood;
    border-color: #ccc;
}
  
.page-link:focus, .page-link:hover {
    color: #000;
    background-color: #fafafa; 
}